<%= form_with(model: adventure) do |form| %>
  <% if adventure.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(adventure.errors.count, "error") %> prohibited this adventure from being saved:</h2>

      <ul>
        <% adventure.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.select :status, { select: Adventure.statuses.keys }, include_blank: true %>
  </div>

  <div>
    <%= form.label :shareable, style: "display: block" %>
    <%= form.select :shareable, { select: Adventure.shareables.keys }, include_blank: true %>
  </div>

  <div>
    <%= form.label :active, style: "display: block" %>
    <%= form.check_box :active %>
  </div>

  <div>
    <%= form.label :target_completion, style: "display: block" %>
    <%= form.datetime_field :target_completion %>
  </div>

  <div>
    <%= form.submit %>
  </div>

  <% if @adventure.addresses.present? || true %>
    <h3>Addresses</h3>
    <%= form.fields_for :adventure_addresses do |adventure_address_form| %>
      <%= adventure_address_form.label :description, style: "display: block" %>
      <%= adventure_address_form.text_area :description %>
      <%= adventure_address_form.fields_for :address do |addresses_form| %>
        <%= addresses_form.label :city, style: "display: block" %>
        <%= addresses_form.text_field :city, required: true %>

        <div>
          <%= addresses_form.label :street_number, style: "display: block" %>
          <%= addresses_form.text_field :street_number, autocomplete: "off", required: true%>
        </div>

        <div>
          <%= addresses_form.label :street, "Street name ", style: "display: block" %>
          <%= addresses_form.text_field :street, required: true %>
        </div>
        <div>
          <%= addresses_form.label :postal_code, style: "display: block" %>
          <%= addresses_form.text_field :postal_code %>
        </div>
        <div>
          <%= addresses_form.label :state, style: "display: block" %>
          <%= addresses_form.text_field :state %>
        </div>
      <% end %>
    <% end %>
  <% end %>

<% end %>
