<p style="color: green"><%= notice %></p>

<h1>Companies</h1>

<div id="companies">
  <% @companies.each do |company| %>
    <%= render company %>
    <p>
      <%= link_to "Show this company", company %>
    </p>
  <% end %>
</div>

<%= link_to "New company", new_company_path, class: 'btn btn--primary' %>

<%= turbo_frame_tag "first_turbo_frame" do %>
  <div class="header">
    <h1>Company (Turbo Frame)</h1>
    <%= link_to "New company (turbo)", new_company_path, class: "btn btn-primary" %>
  </div>
<% end %>
