<div id="<%= dom_id address %>">
  <p>
    <strong>Street:</strong>
    <%= address.street %>
  </p>

  <p>
    <strong>Postal code:</strong>
    <%= address.postal_code %>
  </p>

  <p>
    <strong>Street number:</strong>
    <%= address.street_number %>
  </p>

  <p>
    <strong>City:</strong>
    <%= address.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= address.state %>
  </p>

  <p>
    <strong>County:</strong>
    <%= address.county %>
  </p>

  <p>
    <strong>Fips code:</strong>
    <%= address.fips_code %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= address.country %>
  </p>

</div>
