<%= form_with(model: @address, class: "flex flex-col gap-2")  do |form| %>
  <% if address.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
        <% address.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :street_number, style: "display: block" %>
    <%= form.text_field :street_number, autocomplete: "off", required: true%>
  </div>

  <div>
    <%= form.label :street, "Street name ", style: "display: block" %>
    <%= form.text_field :street, required: true %>
  </div>

  <div>
    <%= form.label :city, style: "display: block" %>
    <%= form.text_field :city, required: true %>
  </div>

  <div>
    <%= form.label :postal_code, style: "display: block" %>
    <%= form.text_field :postal_code %>
  </div>

  <fieldset class="contents" data-controller="address">
    <div>
      <%= form.label :state, style: "display: block" %>
      <%= form.select :state, @state_options, {prompt: "-select-"},
        data: { action: "change->address#click" } %>
        <% # not working for edit page ? (abstract form into frame and only change that target?) %>
    </div>

    <% if @county_options.present? %>
      <div>
        <%= form.label :county, style: "display: block" %>
        <%= form.select :county, @county_options %>
      </div>
    <% end %>
    
    <% # change not happening when triggered on /edit page %>
    <button formmethod="get" formaction="<%= new_address_path %>" hidden
      data-address-target="click">
    </button>
  </fieldset>

  <div>
    <%= form.label :location_type, style: "display: block" %>
    <%= form.select :location_type, { select: Address.location_types.keys }, include_blank: true %>
  </div>

  <!-- # hidden forms with values from object? -->
  <div>
    <!-- # add in from county row selection? -->
    <% form.label :fips_code, style: "display: block" %>
    <% form.text_field :fips_code %>
  </div>

  <div>
    <!-- # add city-state gem ? to list countries and states outside US  -->
    <% form.label :country, style: "display: block" %>
    <%  form.text_field :country %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
