<%= form_with(model: @address, class: "flex flex-col gap-2")  do |form| %>
  <% if address.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
        <% address.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <fieldset class="contents" data-controller="address">
    <div>
      <%= form.label :state, style: "display: block" %>
      <%= form.select :state, @state_options, {prompt: "-select-"}, autocomplete: "off",
        data: { action: "change->address#click" } %>
      <!-- # data for action change on click here work done in controller.js -->
    </div>

    <div>
      <%= form.label :city, style: "display: block" %>
      <%= form.text_field :city, autocomplete: "off" %>
    </div>

    <% # change to disabled style if not present %>
    <% if @county_options.present? %>
      <div>
        <%= form.label :county, style: "display: block" %>
        <%= form.select :county, @county_options %>
      </div>
    <% end %>


    <noscript>
      <!-- # needed ? --> 
      <button formmethod="get" formaction="<%= new_address_path %>">Select country</button>
    </noscript>
    <button formmethod="get" formaction="<%= new_address_path %>" hidden
      data-address-target="click">Select County
    </button>
  </fieldset>

  <div>
    <%= form.label :street_number, style: "display: block" %>
    <%= form.text_field :street_number, autocomplete: "off" %>
  </div>

  <div>
    <%= form.label :street, "Street Name: ", style: "display: block" %>
    <%= form.text_field :street, autocomplete: "off" %>
  </div>

  <div>
    <%= form.label :postal_code, style: "display: block" %>
    <%= form.text_field :postal_code %>
  </div>
<!-- # display enum of address type -->

 <!-- # hidden forms with values from object? -->
  <div>
    <!-- # add in from county row selection? -->
    <% form.label :fips_code, style: "display: block" %>
    <% form.text_field :fips_code %>
  </div>

  <div>
    <!-- # add city-state gem ? to list countries and states outside US  -->
    <% form.label :country, style: "display: block" %>
    <%  form.text_field :country %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
